<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
      <style>
          body{
              background-color: lightblue;
          }
      </style>
  </head>
  <body>
    Hello {{ first_name }}
    {{ code }}
  This is your code. If you reload or open the Verification page again a new code will be emailed!
  </body>
</html>